.chunk {
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &:hover &__text {
    opacity: 1;
    transition: opacity 0.3s;
  }

  &__text {
    opacity: 0;
  }

  &__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    &__header {
      font-size: 28px;
    }
  }
}
